@model DataStructure.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scenarist" class="control-label"></label>
                <input asp-for="Scenarist" class="form-control" />
                <span asp-validation-for="Scenarist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleasedYear" class="control-label"></label>
                <input asp-for="ReleasedYear" class="form-control" />
                <span asp-validation-for="ReleasedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Award" class="control-label"></label>
                <input asp-for="Award" class="form-control" />
                <span asp-validation-for="Award" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discreption" class="control-label"></label>
                <input asp-for="Discreption" class="form-control" />
                <span asp-validation-for="Discreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
