@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>If you are interested in having more information about super hit movies of all the years then check out our web site!</h5>
    
    @*<img alt="" src="https://wp.stanforddaily.com/wp-content/uploads/2020/04/Annabelle-Wang.jpg" />*@
</div>
